div.scrollableArea *
  {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0 5px 0;
    /* If you don't want the images in the scroller to be selectable, try the following
      block of code. It's just a nice feature that prevent the images from
      accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /*
   * this is the width of each image
  */
  div.scrollableArea img {
    width: 180px;
  }
  /*the height here has to be the width of the image, 
   *and the width has to be X times the width of the image + 10 (padding) * 2 * number of images
   * e.g. to show 5 images the width has is worked out like so
   * width = (image width * number of images to show) + (10 * 2 * number of images to show)
   * to show 5 images..... with 180px width == (180 * 5) + (10 * 2 * 5) == 1000px
  */
  #instafeed {
    /*max-width: 1000px;*/
    width: 100%;
    height: 180px;
    position: relative;
    margin: 0 auto;
  }

  .ins-section{width: 90%; margin: 0 auto;height: 200px;}

  @media screen and (max-width: 780px) {
    div.scrollableArea *{ padding: 0 1px 0;}
  }